a.link{
   display: block;
   width: 100%;
   height:100%;
   text-decoration: none;
   /*color: #A52A2A;*/
}

a.imglink{
    display: block;
    width: 100%;
    height: 100%;
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
}

.clear{
    clear: both;
}
