

/***** コンテンツ全体 *****/

/*******見出しの所****/
.loginformheading {
    font-size: 30px;;
    padding: 6px 0;
    border: solid 1px;
    text-align : center;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: #FFFACD;
}


/**********ログインのフォーム**********/
.loginform{
    border: solid 1px;
    box-sizing: border-box;
    padding: 20px 30px ;
    background-color: #FFFACD;
}

#form-password,#form-mail{
  font-size: 30px;
}
#form-mail{
  width: 15em;
}

#form-password{
  width: 7em;
}


.form{
    font-size: 30px;
    box-sizing: border-box;
    width: 100%;
    float: none;
}
.form form{
  float: none;
}

.formin{
  width: 100%;
  box-sizing: border-box;
  float: none;
}

.formtitle{
  width: 35%;
  float: left;
  box-sizing: border-box;
  padding: 20px 0px;
}

.forminput{
  width: 60%;
  float: left;
    box-sizing: border-box;
      padding: 20px 0px;
}

.login-btn{
    font-size: 28px;
    width: 5em;
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    clear: both;
    background-color: #CD853F;
    border-radius: 8px;
}

.login-btn > label{
  display: block;
}



/**********ログインのフォーム***********/
/***********下のボタン***********/
.newmember{
    font-size: 28px;
    padding:10px;
    width: 40%;
    margin: 40px auto;
    text-align : center;
    background-color: #CD853F;
    border-radius: 8px;
}

.return-top{
    font-size: 28px;
    padding-top: 7px;
    width: 30%;
    padding: 10px;
    margin: 0 auto;
    text-align : center;
    background-color: #CD853F;
    border-radius: 8px;
}
/***********下のボタン***********/

/******err-message**********************/

#err-message{
  color: #f00;
  margin-bottom: 20px;
}
