/***** コンテンツ全体 *****/
html,body{
	height: 95%;
		box-sizing: border-box;
}
body{
	width: 1000px;
	margin: 0 auto;
    box-sizing: border-box;
}

.header{
	height: 20%;
	box-sizing: border-box;
}
.contents{
	padding: 10px 10px 10px 10px;
	height: 80%;
	box-sizing: border-box;
}

/***** コンテンツ全体 *****/
/***********商品リスト部分*************/

.listheading{
    font-size: 30px;
    float: left;
    padding: 6px 0px 6px 0px;
    border: solid 1px;
    width: 100%;
    text-align : center;
    box-sizing: border-box;
    margin-top: 40px;
    margin-bottom: 20px;
}

.list{
    float: left;
    width: 100%;
		background-color: pink;
    box-sizing: border-box;
}

.listitem{
    float: left;
    border: solid 1px;
    width: 300px;
    margin: 13.3px;
    box-sizing: border-box;
}
.img{
    height: 180px;
    padding: 0 0px;
}
.img > img{
    float: left;
    height: 100%;
    width: 100%;
}
.pizzaname{
    font-size: 23px;
		padding: 0px 5px;
    margin-top: 5px;
}
.zei{

    font-size: 15px;
    height: 12px;
    padding: 5px;
}
.pricelist{
    font-size: 18px;
    padding: 5px;
}

.price{
	display: block;
}

.price-sml{
	display: block;
}

.description{
    padding: 6px;
    height: 55px;

}
.syousai{
    text-align: center;
    border: solid 2px;
    font-size: 25px;
    box-sizing: border-box;
}

a.biglink{
    padding-top: 7px;
    display: block;
    padding: 8px 0px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
a.biglink:hover{
    background-color: chartreuse;
}


/***********商品リスト部分*************/
/**********トップページに戻る***********/

.toppage{
    font-size: 28px;
    float: left;
    width: 30%;
    margin: 3% 35% 2% 35%;
    text-align : center;
    border: solid 1px;
}

/**********トップページに戻る***********/
