/***** コンテンツ全体 *****/

/***** コンテンツ全体 *****/
/*******メニュー*********/
.menu{
	float: left;
	width: 100%;
	box-sizing: border-box;
}
.menuheading,.sizeheading{
    font-size: 30px;
    float: left;
    padding: 6px 0px 6px 0px;
    border: solid 1px;
    width: 100%;
    text-align : center;
    box-sizing: border-box;
}
.menuheading{
      margin-top: 40px;
      margin-bottom: 40px;
}

.menuin{
	float: left;
	width: 100%;
	border: solid 5px;
	box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: #FFFACD;
}

.menuname{
    margin: 0 0 40px 0;
    float: left;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    width: 100%;
    padding: 10px;
}

.menuleft{
	float: left;
	width: 40%;
	height: 85%;
	padding-left: 50px;
	box-sizing: border-box;
}
.menuleft > img {
	height: 250px;
	width: 300px;

}
.menuright{
	float: left;
	width: 60%;
	height: 85%;
	box-sizing: border-box;
}

.pricelist{
    font-size: 26px;
    padding: 5px 0;
}

.price{
  display: ;
}
.price-sml{
  display: ;
}

.zei{
  text-align: left;
  font-size: 20px;
}

.description{
		font-size: 22px;
    padding: 5px 0;
}
/*******メニュー*********/
/*************サイズ****************/

.size{
    padding-top: 20px;
	float: left;
	width: 100%;
	box-sizing: border-box;
}

.sizein{
    font-size: 26px;
	float: left;
	padding-top: 10px;
	height: 85%;
	width: 100%;
	box-sizing: border-box;
}
.s,.m,.l{
	text-align : center;
  font-size: 30px;
	float: left;
	height: 100%;
	width: 33%;
  padding: 30px 0;
	box-sizing: border-box;
}
.m{
	width: 34%;
}
.s input,.m input,.l input{
  height: 30px;
  width: 30px;
}

/*************サイズ****************/
/*********セレクト&数量選択カート移動***********/

.select{
	float: left;
	height: 70px;
	width:100%;
	border: solid 1px;
	box-sizing: border-box;
	font-size: 28px;
    margin-bottom: 20px;
}
.selectleft{
	float: left;
	font-size:28px;
	padding: 20px;
	padding-left: 80px;
	width: 34%;
	height: 100%;

	box-sizing: border-box;
}
.selectleft > select{
	font-size: 26px;
}

.selectcenter{
	float: left;
	padding-top: 20px;
	width: 40%;
	height: 100%;
	box-sizing: border-box;
}

.selectright{
	float: left;
	padding: 20px 0px 20px 50px;
	width: 26%;
	height: 100%;
	/*background-image: url("../img/cart.png");*/
	background-size: contain;
	box-sizing: border-box;
}
/*********セレクト&数量選択カート移動***********/


/****一覧へ戻る******/

.list{
	float: left;
  font-size: 25px;
	width: 20%;
  margin: 8px 40%;
  border: solid 1px;
	text-align : center;
	box-sizing: border-box;
}

a.biglink{
    display: block;
    padding: 10px 0px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
a.biglink:hover{
    background-color: chartreuse;
}

/****一覧へ戻る******/
