


/***** コンテンツ全体 *****/
/******カート部分*******/
/*見出しの所*/
.cart{
    padding: 30px 0;
    border-radius: 0 0 30px 30px ;
    margin-bottom: 30px;
}

.orders{
    width: 100%;
    font-size: 24px;
    box-sizing: border-box;
    padding: 30px;
}

.order{
    width: 100%;

    box-sizing: border-box;
}

.order:not(:last-child){
    margin-bottom: 30px;
}

.order-bottom{
    padding: 10px 20px;
}

.order-bottom,.order-bottom a{
    font-size: 20px;
}

.order-bottom > div:not(.clear){
    float: right;

}

.order-bottom > div > div{
    float: left;

}

.order-bottom > div > div:not(:nth-last-child(2)){
    margin-right: 15px;
}


.name{
    padding: 40px 0;
    padding-left: 20px;
    box-sizing: border-box;
}

.num{
    padding: 10px 0;
    text-align: right;
    box-sizing: border-box;

}

.money{
    padding: 10px 0;
    box-sizing: border-box;
    text-align: center;
}

.change{
    box-sizing: border-box;
}

.delete{
    box-sizing: border-box;
}
.order-bottom .button{
    border-radius: 20px;
    width: auto;
}
.order-bottom .button > a{
    font-size: 20px;
    padding: 10px;
}


/***********カートの下の合計金額************/
.summoney{
    font-size: 28px;
    clear: both;
    padding: 10px 0;
    width: 100%;
    height: 6%;
    padding-right: 20px;
    text-align : right;
    box-sizing: border-box;
}
/***********カートの下の合計金額************/
/*********配達先選択へ進む*******/
.selectdelivery{
    margin-bottom: 30px;
}

/*********配達先選択へ進む*******/


/***********Color*************/
.cart{
    background-color: #F8EDD1;
}

.order{
    border: solid 4px #98B21D;
    box-sizing: border-box;
}

.order-bottom{
    background-color: #FEC049;
}

.summoney{
    background-color: #CD1D1F;
}
