/***** コンテンツ全体 *****/
/***** コンテンツ全体 *****/
/*******メッセージ部分*******/
.message{
    width: 100%;
    height: 300px;
    border: solid 1px;
    text-align: center;
}
.messagein{
    font-size: 35px;
    box-sizing: border-box;
}

/*******メッセージ部分*******/
/*******Topページへ戻る部分*******/

.top{
    font-size: 28px;
    width: 30%;
    margin: 5% 35% 2% 35%;
    text-align : center;
    border: solid 1px;
}

.buttonlink{
    padding: 7px;
    display: block;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.buttonlink:hover{
    background-color: chartreuse;
}
/*******Topページに戻る部分*******/
