/***** コンテンツ全体 *****/

/***** コンテンツ全体 *****/
/*******見出しの所****/


/**********配達先住所部分***********/
.form{
    font-size: 22px;
    width: 100%;
    margin-bottom: 30px;
    padding: 30px 70px;
    box-sizing: border-box;
    border-radius: 0 0 30px 30px;
}

.formleft{
    float:  left;
    height: 100%;
    text-align: left;
    font-size: 23px;
    box-sizing: border-box;
}


.formright{
    float:  right;
    height: 100%;
    font-size: 22px;
    text-align: left;
    box-sizing: border-box;
}

.formrightin,.formleftin{
    height: 40px;
    padding: 5px 0px;
}

.formrightin input{
    font-size: 16px;
}

.description {
    padding-left: 20px;
    font-size: 14px;
    text-decoration: underline;
}

/**********配達先住所部分***********/
/*********確定戻る***********/
.confirmation{
    width: 30%;
    margin: 0% 35% 0% 35%;
    text-align : center;
}

.confirmation>input{
    font-size: 24px;
    background-color: white;
    border: solid 1px black;
}

.back{
    font-size: 28px;
    width: 20%;
    margin: 2% 40% 2% 40%;
    text-align : center;
    border: solid 1px;
}
/*********確定戻る***********/

/*Color*/
.form{
    background-color: #F8EDD1;
}
