/***** コンテンツ全体 *****/

/***** コンテンツ全体 *****/

/*******見出しの所****/

/**********配達先住所部分***********/
.form{
    font-size: 22px;
    width: 100%;
    margin-bottom: 30px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 0 0 30px 30px;
}

.formleft{
    float:  left;
    height: 100%;
    width: 40%;
    text-align: left;
    font-size: 23.5px;
    padding-left: 10%;
    box-sizing: border-box;
}

.formleftin{
    padding: 12.6px 0px;

}

.formright{
    float:  left;
    height: 100%;
    width: 60%;
    font-size: 24px;
    text-align: left;
    box-sizing: border-box;
}

.formrightin{
    padding: 12.6px; 0px;
    width: 100%;
}

.first_name,.last_name,.first_name_kana,.last_name_kana{
    width: 20%;
    height: 100%;
    text-align: left;
}
.last_name,.last_name_kana{
    padding-right: 40px;
}

.description{
    text-align: left;
    font-size: 24px;
    padding-right: 20px;
    height: 100%;
}
/**********配達先住所部分***********/
/*********確定戻る***********/


/*********確定戻る***********/

/*Color*/
.form{
    background-color:#F8EDD1;
}
