

/***** コンテンツ全体 *****/

/*******見出しの所****/


/**********注文履歴一覧***********/
.log{
    font-size: 24px;
    width: 100%;
    margin-bottom: 30px;
    padding: 30px;
    box-sizing: border-box;
        border-radius: 0 0 30px 30px;
}

.log-list{
    padding: 0;
    margin: 0;
    width: 100%;
}

.log-list-item:not(:first-child){
    margin-top: 20px;
}
/******詳細の内容部分*******/

.title{
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}


.titleleft{
    font-size: 24px;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*.titleright {
    font-size: 30px;
    border: solid 2px;
    float: right;
}*/

/*オープン用アイコン*/
.openicon {
    height: 40px;
    width: 40px;
    display: block;
    position: relative;
}

.openicon{
    height: 20px;
    float: right;
}

.openicon:before {
    content: '';
    height: 0;
    width: 0;
    display: block;
    border: 20px transparent solid;
    border-bottom-width: 0;
    border-top-color: #333;
    position: absolute;
    top: 0px;
    left: 0px;
}
/*クローズ用アイコン*/
.closeicon {
    height: 40px;
    width: 40px;
    display: block;
    position: relative;
}

.closeicon {
    float: right;
    height: 20px;
}

.closeicon:before {
    content: '';
    height: 0;
    width: 0;
    display: block;
    border: 20px transparent solid;
    border-top-width: 0;
    border-bottom-color: #333;
}
/*アイコン終わり*/
.datail{
    display: none;
}

.cart{
    width: 100%;
    box-sizing: border-box;
}

.cartin{
    font-size: 24px;
    width: 100%;
    padding:  5px 40px;
    box-sizing: border-box;
}

.name{
    float: left;
    width: 60%;
    height: 100%;
    text-align: left;
    box-sizing: border-box;
}

.num{
    float: left;
    width: 10%;
    height: 100%;
}

.money{
    float: left;
    width: 30%;
    height: 100%;
    text-align: right
}

/*合計金額*/
.summoney{
    width: 100%;
    padding: 5px 40px;
    font-size: 24px;
    text-align: right;
    box-sizing: border-box;
}

.sum{
    width: 20%;
    float: right;
    box-sizing: border-box;
}

.summoney > .button > a{
    font-size: 24px;
    width: auto;
    padding: 10px;
}

/******詳細の内容部分*******/
/**********注文履歴一覧***********/
/*********戻る***********/

.buttonlink{
    padding: 7px;
    display: block;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.buttonlink:hover{
    background-color: chartreuse;
}

.back{
    font-size: 28px;

    width: 20%;
    margin: 2% 40% 0% 40%;
    text-align : center;
    border: solid 1px;
}
/*********確定戻る***********/


/*Color*/
.log{
    background-color: #F8EDD1;
}

.log-list-item{
    border: solid 4px rgba(152,178,29,0.6);
    box-sizing: border-box;
}

.title{
    background-color: rgba(152,178,29,0.6);
}

.summoney{
    background-color: #FEC049;
}

.cart .cartin:not(:last-child){
    /*border-bottom: solid 4px #98B21D;*/
}
