/***** コンテンツ全体 *****/
html,body{
    height: 95%;
    box-sizing: border-box;
}
body{
    width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
}

.header{
    height: 20%;
    box-sizing: border-box;
}
.contents{
    padding: 10px 10px 10px 10px;
    height: 80%;
    box-sizing: border-box;
}

/***** コンテンツ全体 *****/

/*******見出しの所****/
.cartheading,.deliveryheading,.whereheading {
    font-size: 30px;
    float: left;
    padding: 6px 0px 6px 0px;
    border: solid 1px;
    width: 100%;
    text-align : center;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 40px;
}
/******ご注文内容部分*******/
.cart{
    float: left;
    border: solid 1px;
    width: 100%;
    box-sizing: border-box;}

.cartin{
    float: left;
    font-size: 22px;
    width: 100%;
    height: 35px;
    padding:  5px 20px;
    border-bottom: solid 1px;
    box-sizing: border-box;
}

.name{
    float: left;
    width: 60%;
    height: 100%;
    text-align: center;
}

.num{
    float: left;
    width: 10%;
    height: 100%;
}

.money{
    float: left;
    width: 30%;
    height: 100%;
    text-align: right
}

/*合計金額*/
.summoney{
    float: left;
    width: 100%;
    height: 35px;
    padding-top: 5px;
    font-size: 26px;
    text-align: right;
    box-sizing: border-box;
}

.sum{
    width: 20%;
    float: right;
    text-align: center;
    box-sizing: border-box;
}

/******ご注文内容部分*******/
/**********配達先住所部分***********/
.delivery{
    float: left;
    font-size: 22px;
    width: 100%;
    padding: 20px;
    border: solid 1px;
    box-sizing: border-box;
}

.yubin{
    float: left;
    width: 100%;
    height: 30px;
}

.address{
    float: left;
    width: 100%;
    height: 30px;
}

/**********配達先住所部分***********/
/******* whereismypizza ******/

.whereismypizza{
    float: left;
    width: 100%;
    border: solid 1px;
}

            /*******Googlemap********/
.map-embed
{
    max-width: 100% ;
    height: 0 ;
    margin: 0 ;
    padding: 0 0 56.25% ;

    overflow: hidden ;

    position: relative ;
    top: 0 ;
    left: 0 ;
}

.map-embed > div
{
    position: absolute ;
    top: 0 ;
    left: 0 ;

    width: 100% ;
    height: 100% ;

    margin: 0 ;
    padding: 0 ;
}

.map-embed img
{
    max-width: none ;
}

#map-canvas{
    width: 100%;
    height: 100%;
}
            /*******Googlemap********/
/*******whereismypizza*********/
/*********確定戻る***********/
.confirm{
    font-size: 32px;
    float: left;
    width: 20%;
    margin: 2% 40% 0% 40%;
    text-align : center;
    border: solid 1px;
}

.back{
    font-size: 28px;
    float: left;
    width: 20%;
    margin: 2% 40% 1% 40%;
    text-align : center;
    border: solid 1px;
}

a.biglink{
    padding-top: 7px;
    display: block;
    padding: 8px 0px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
a.biglink:hover{
    background-color: chartreuse;
}
/*********確定戻る***********/
